---
import Layout from '../layouts/Layout.astro';
import ShortenForm from '../components/ShortenForm';
---

<Layout>
    <main class="p-8 sm:p-12 lg:p-24 animate-fade-in">
        <h1 class="mb-2 text-4xl">Link Shortener</h1>
        <p>This link shortener has been created with:</p>
        <ul class="mb-2">
            <li><a href="https://astro.build" target="_blank" class="underline">Astro</a></li>
            <li>
                <a href="https://www.solidjs.com/" target="_blank" class="underline">SolidJS</a>
            </li>
            <li><a href="https:tailwindcss.com" target="_blank" class="underline">Tailwind</a></li>
            <li>
                <a href="https://upstash.com/" target="_blank" class="underline">
                    Redis (Hosted with Upstash)
                </a>
            </li>
            <li>
                <a
                    href="https://vercel.com/docs/concepts/functions/edge-functions"
                    target="_blank"
                    class="underline"
                >
                    Vercel Edge Functions
                </a>
            </li>
        </ul>
        <section>
            <ShortenForm client:load />
        </section>
    </main>
</Layout>
